header{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


table{
    border: 2px solid black;
    border-collapse: separate;
    background-color: rgb(8, 182, 8);
    margin: 10px auto 0px auto;
    padding: 1px 1px 1px 1px;
}

tr, td{
    border: 1px solid black;
    border-collapse: separate;
    background-color: #CFCFCF;
    padding: 5px 5px 5px 5px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

th{
    background-color: #243F8A;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 0px 5px 0px;
}

button{
    margin: 0px 50px 0px 50px;
}

.nav {
    overflow: hidden;
    background-color: #3d424a;

}
.nav a { 
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.nav a:hover{
    background-color: #243F8A;
    color:white;
}

.nav a.active { 
    background-color: #243F8A; 
    color: #FFFFFF;
}

.topnav .icon {
    display: none;
}


@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }





textarea{
    resize: none;
    width: 300px;
    height: 100px;
}


