html
    head
        title AULF4
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        style   
            include ../CSS/style2.css
    body
    div
        nav(class="navbar navbar-expand navbar-light bg-light")
            div(class="container-fluid")
                div(class="navbar-header")
                    ul(class="nav navbar-nav")
                        li(class = "nav-item")
                            a(class="nav-link" href="/customerPage") Home
                        li(class = "nav-item")
                            a(class="nav-link" href="https://aurora.edu/") Aurora University

        h1 AU Lunch For 4
        .container
            form(action='/feedback/Insert', method='post')
                .row
                    .col 
                        label(for='feedback') Feedback for meeting with ID: #{meetingID} 
                    .col
                        if(messages.feedback)
                            p #{messages.feedback}
                    .col
                        label(for='meetDate') What day did the meeting happen:
                        
                .row
                    .col
                        textarea(name="feedback" value="Please Provide Feedback")
                    .col
                        if(messages.meetDate)
                            p #{messages.meetDate}
                    .col
                        input(type="date" name="meetDate")
                .row
                    .col-2
                        button(type="submit" class="btn btn-primary") Submit
                    .col-2
                        button(type="reset" class="btn btn-primary") Reset
                    .col-2
                        button(type="button" class="btn btn-primary" onclick="history.back()") Back