html
    head
        title password Update
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        style   
            include ../CSS/style2.css
    body
    div
    
        h1 AU Lunch For 4
        
        form(method='post')
            .container
                .row
                    .col-2
                        label(for='email') Email:
                    .col-2
                        input(name='email')
                    .col
                        if(messages.email)
                            p #{messages.email}
                    .col
                        if(messages.noAccount)
                            p #{messages.noAccount}
                .row
                    .col-2
                        label(for='password') New Password:
                    .col-2
                        input(type ='password' name='password')
                    .col
                        if(messages.password)
                            p #{messages.password}
                .row
                    .col-2
                        button(type="submit" class="btn btn-primary" formaction="/update/password/action") Submit
                    .col-2
                        button(type="button" class="btn btn-primary" onclick="history.back()") Back

